{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<style>
  #shopify-section-{{ section.id }} {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
    {%- unless section.settings.background_image_desktop == blank -%}
      background-image: url('{{ section.settings.background_image_desktop | img_url: 'master' }}');
    {%- endunless -%}
  }
</style>

  <div class="image-banner image-banner--type-{{ section.settings.image_banner_type }}">
    {% case section.settings.image_banner_type %}
    {% when "1" %}
      <h2 class="image-banner__title image-banner__title--type{{ section.settings.image_banner_type }}">
        {{ section.settings.text_title }}
      </h2>
    {% when "2" %}
      <h3 class="image-banner__title image-banner__title--type{{ section.settings.image_banner_type }}">
        {{ section.settings.text_title }}
      </h3>
    {% endcase %}
    <h4 class="image-banner__subtitle image-banner__subtitle--type{{ section.settings.image_banner_type }}">
      {{ section.settings.text_subtitle }}
    </h4>
    <a
      class="image-banner__button image-banner__button--type{{ section.settings.image_banner_type }}"
      href="{% if section.settings.button_link %}
        {{ section.settings.button_link }}
        {% else %}
          #
        {% endif %}"
    >
      <p>{{ section.settings.text_button }}</p>
      {%- if section.settings.image_banner_type == "1" -%} {% render 'Vector-button-image-banner' %} {%- endif -%}
    </a>
  </div>

